.theme-dark {
  --accent-h: 263.33;
  --accent-s: 54.22%;
  --accent-l: 67.45%;
  --mono-rgb-100: 242, 244, 248;
  --mono-rgb-0: 12, 12, 12;
  --color-base-110: #f9fbff;
  --color-base-100: #f2f4f8;
  --color-base-70: #b6b8bb;
  --color-base-60: #7b7c7e;
  --color-base-50: #6e6e70; /* outside of original spec */
  --color-base-40: #616162; /* outside of original spec */
  --color-base-35: #535353;
  --color-base-30: #353535;
  --color-base-25: #2d2d2d; /* outside of original spec */
  --color-base-20: #252525;
  --color-base-10: #161616;
  --color-base-05: #111111; /* outside of original spec */
  --color-base-00: #0c0c0c;

  --color-cyan: #33b1ff;
  --color-cyan-bright: #52bdff;
  --color-cyan-dim: #2b96d9;
  --color-pink: #ff7eb6;
  --color-pink-bright: #ff91c1;
  --color-pink-dim: #d96b9b;
  --color-purple: #be95ff;
  --color-purple-bright: #c8a5ff;
  --color-purple-dim: #a27fd9;
  --color-blue: #78a9ff;
  --color-blue-bright: #8cb6ff;
  --color-blue-dim: #6690d9;
  --color-orange: #3ddbd9;
  --color-orange-bright: #5ae0df;
  --color-orange-dim: #34bab8;
  --color-red: #ee5396;
  --color-red-bright: #f16da6;
  --color-red-dim: #ca4780;
  --color-yellow: #08bdba;
  --color-yellow-bright: #2dc7c4;
  --color-yellow-dim: #07a19e;
  --color-green: #25be6a;
  --color-green-bright: #46c880;
  --color-green-dim: #1fa25a;

  --color-cyan-rgb: 51, 177, 255;
  --color-pink-rgb: 255, 126, 182;
  --color-purple-rgb: 190, 149, 255;
  --color-blue-rgb: 120, 169, 255;
  --color-orange-rgb: 61, 219, 217;
  --color-red-rgb: 238, 83, 150;
  --color-yellow-rgb: 8, 189, 186;
  --color-green-rgb: 37, 190, 106;

  --code-comment: #6e6f70;
  --code-inline-background: var(--color-base-00);
}

body {
  --background-primary: var(--color-base-10);
  --background-primary-alt: var(--color-base-05);
  --background-secondary: var(--color-base-05);
  --code-background: var(--color-base-05);
  --code-inline-background: var(--code-background);
  --titlebar-background: var(--color-base-00);
  --titlebar-background-focused: var(--color-base-00);
  --ribbon-background: var(--color-base-00);
  --ribbon-background-collapsed: var(--color-base-05);
  --modal-border-color: var(--color-base-30);
  --background-modifier-border: var(--color-base-25);
  --background-modifier-border-hover: var(--color-base-30);
  --background-modifier-border-focus: var(--color-base-35);
  --table-header-background: var(--color-base-05);
  --table-header-background-hover: var(--color-base-05);
  --blockquote-background-color: rgba(var(--color-blue-rgb), 0.05);
  --bold-color: var(--color-base-110);

  --heading-color: var(--color-base-110);
  --h1-color: var(--heading-color);
  --h2-color: var(--heading-color);
  --h3-color: var(--heading-color);
  --h4-color: var(--heading-color);
  --h5-color: var(--heading-color);
  --h6-color: var(--heading-color);
}

.markdown-rendered code {
  background-color: var(--code-inline-background);
}
